Repository nf-core/website, pull requests merged in 2025-03, with the labels that each got.

#3128 Add: Project page for hackathon march 2025 - GPU testing.
  sites/main-site/src/assets/images/events/2025/hackathon-march/nebius_sponsor_logo.png
  sites/main-site/src/content/hackathon-projects/hackathon-march-2025/gpu_testing.md
Labels: WIP, hackathon

#3150 Project Hackathon 2025: Bioimage tools project
  sites/main-site/src/assets/images/events/2025/hackathon-march/bioimage_meme.png
  sites/main-site/src/content/hackathon-projects/hackathon-march-2025/bioimage-OME-tools.md
Labels: Ready for Review, hackathon

#3189 Add project ampliseq-release
  sites/main-site/src/content/hackathon-projects/hackathon-march-2025/ampliseq-release
Labels: hackathon

#3233 Update contact details and schedule for NZ hackathon site
  sites/main-site/src/content/events/2025/hackathon-march-2025/netvalue.mdx
Labels: hackathon

#3234 Add AusBioCommons hackathon projects
  sites/main-site/src/assets/images/events/2025/hackathon-march/Australian-Biocommons-Logo.png
  sites/main-site/src/content/hackathon-projects/hackathon-march-2025/aus-hpc-training.md
  sites/main-site/src/content/hackathon-projects/hackathon-march-2025/nf-test-playground.md
Labels: hackathon

#3221 add project for on site group Medellin
  sites/main-site/src/assets/images/events/2025/hackathon-march/mito_meme.jpg
  sites/main-site/src/content/hackathon-projects/hackathon-march-2025/mitnanex.md
Labels: hackathon

#3207 Nf personal cancer genome reporter hackathon march
  sites/main-site/src/assets/images/events/2025/hackathon-march/nf-pcgr.png
  sites/main-site/src/content/hackathon-projects/hackathon-march-2025/nf_personal_cancer_genome_reporter.md
Labels: hackathon

#2998 Added first nf-core/stickers prototype
  .gitignore
  sites/main-site/src/components/HexGrid.astro
  sites/main-site/src/components/HexSticker.astro
  sites/main-site/src/components/HexStickerGallery.astro
  sites/main-site/src/components/StickerModal.astro
  sites/main-site/src/pages/stickers.astro
  sites/main-site/src/pages/stickers.json
  sites/main-site/src/styles/_variables.scss
Labels: enhancement, WIP
